# This app's name e.g. Wassup
APP_NAME=Wassup
# This app's public facing URL e.g. https://app.wassuphq.com
APP_URL=http://localhost:4000
# App's hostname e.g. wassupapp.com
APP_HOSTNAME=localhost
# Email address used as "from" to send all emails, e.g. support@wassupapp.com
MAIL_SENDER_EMAIL=support@wassuphq.com
# A really long secret, can be generated using `mix phx.gen.secret` task
SECRET_KEY_BASE=auwK0JL2KOaiPWHRJcbSzB2p2IFmlj7uW8CmTrwenM6pjYsf4lLH5vWO1Z+UwaXM
# Port to run the Phoenix on inside the container
PORT=4000
# Database URL in the form: "postgres://USER:PASS@HOST/database"
# Note that if the database does not support SSL then pass in `ssl=false` query parameter.
DATABASE_URL=postgres://postgres:postgres@host.docker.internal/wassup_app_prod?ssl=false
# Database connection pool size
POOL_SIZE=10

# Variables to allow sign-in using Google.
# Please Follow
# https://github.com/wassuphq/wassup/wiki/Creating-an-OAuth-2.0-client-to-enable-sign-in-using-Google
# for the step-by-step guide to obtain the client ID and client secret values.
GOOGLE_CLIENT_ID=XXXXXXX
GOOGLE_CLIENT_SECRET=XXXXXXX
GOOGLE_REDIRECT_URI=http://localhost:4000/auth/google/callback

# If set to "true", user registration feature would be disabled. Default is "false".
REGISTRATION_DISABLED=false

# Mail delivery service's SMTP configuration
SMTP_PROVIDER_DOMAIN=XXXXXX # e.g. smtp.mandrill.com
SMTP_USERNAME=XXXXXX
SMTP_PASSWORD=XXXXXX

# Google Analytics tracking ID (OPTIONAL)
GOOGLE_ANALYTICS_TRACKING_ID=UA-XXXXXXX-X
