# This app's name e.g. Wassup
export APP_NAME="Wassup"
# This app's public facing URL e.g. https://wassupapp.com
export APP_URL="http://wassupapp.com"
# App's hostname e.g. wassupapp.com
export APP_HOSTNAME="wassupapp.com"
# Email address used as "from" to send all emails, e.g. support@wassupapp.com
export MAIL_SENDER_EMAIL="support@wassupapp.com"
# A really long secret, can be generated using `mix phx.gen.secret` task
export SECRET_KEY_BASE="XXXXXXXXXXXXXXXXXXXXXXXXX"
# Database URL in the form: "ecto://USER:PASS@HOST/database"
export DATABASE_URL="ecto://postgres:postgres@localhost/wassup_app_prod"

# Variables to allow signing in using Google
export GOOGLE_CLIENT_ID="XXXXXXX"
export GOOGLE_CLIENT_SECRET="XXXXXXX"
export GOOGLE_REDIRECT_URI="http://wassupapp.com/auth/google/callback"

# If set to "true", user registration feature would be disabled. Default is "false".
export REGISTRATION_DISABLED="false"

# Mail delivery service's SMTP configuration
export SMTP_PROVIDER_DOMAIN="XXXXXX" # e.g. smtp.mandrill.com
export SMTP_USERNAME="XXXXXX"
export SMTP_PASSWORD="XXXXXX"
