<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>" sizes="32x32" />
    <%= csrf_meta_tag() %>
    <title><%= WassupApp.Utils.app_name() %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <%= if WassupApp.Utils.demo_instance?() do %>
      <header class="banner banner-info">
        <section class="container">
          <p>This is a <strong>DEMO</strong> instance. All the data in this demo is wiped everyday. If you've signed up & need to verify your account, <%= link "check the welcome email here", to: "/sent_emails" %>.</p>
          <%= if !@current_user do %>
            <p>Sign in with <strong>john@example.com</strong> email and <strong>test1234</strong> password to get started.</p>
          <% end %>
        </section>
      </header>
    <% end %>
    <header class="main">
      <section class="container">
        <%= link to: "/", title: WassupApp.Utils.app_name(), class: "logo-link" do %>
          <h1>
            <%= img_tag(Routes.static_path(@conn, "/images/logo.png")) %>
            <span class="hide"><%= WassupApp.Utils.app_name() %></span>
          </h1>
        <% end %>
        <nav role="navigation">
          <ul>
            <li class="toggle-theme hide" data-behavior="toggle-theme"></li>
            <li>
              <%= if @current_user do %>
                <div class="dropdown">
                  <a href="javascript:void(0)" data-behavior="dropdown-trigger">
                    <%= "#{@current_user.name}" %>
                    <span class='dropdown-icon'></span>
                  </a>
                  <div class="dropdown-content" data-behavior="dropdown-content">
                    <%= link "Update Account", to: Routes.account_path(@conn, :edit) %>
                    <%= link "Change Password", to: Routes.account_change_password_path(@conn, :change_password) %>
                    <%= link "Logout", to: Routes.logout_path(@conn, :delete), method: :delete %>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert">
          <%= get_flash(@conn, :info) %>
          <span class="close" data-behavior="alert-close">×</span>
        </p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert">
          <%= get_flash(@conn, :error) %>
          <span class="close" data-behavior="alert-close">×</span>
        </p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <div class="modal" data-behavior="modal">
      <div class="modal-body">
        <div class="close" data-behavior="modal-close">×</div>
        <div class="modal-content" data-behavior="modal-content"></div>
      </div>
    </div>
    <script>
      var App = window.App = {};
      App.sentimentDetails = <%= raw sentiment_details() %>;
      App.userToken = "<%= assigns[:user_token] %>";
      App.userId = "<%= assigns[:current_user] && assigns[:current_user] |> Map.get(:id) %>";
      App.digestedAssetsPath = {
        "/images/more.svg": '<%= Routes.static_path(@conn, "/images/more.svg") %>',
        "/images/star.svg": '<%= Routes.static_path(@conn, "/images/star.svg") %>',
        "/images/unstar.svg": '<%= Routes.static_path(@conn, "/images/unstar.svg") %>'
      };
      window.App = App;

      // Don't track WebSockets to determine whether a LiveView is loaded or not
      window.paceOptions = { ajax: { trackWebSockets: false } };
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <%= if WassupApp.Utils.google_analytics_tracking_id() |> to_string |> String.length > 0 do %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= WassupApp.Utils.google_analytics_tracking_id() %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= WassupApp.Utils.google_analytics_tracking_id() %>');
      </script>
      <% end %>
  </body>
</html>
