<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Wassup</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav class="main" role="navigation">
          <ul>
            <li>
              <%= if @current_user do %>
                <div class="dropdown">
                  <a href="javascript:void(0)" data-behavior="dropdown-trigger">
                    <%= "#{@current_user.name}" %>
                    <span class='dropdown-icon'></span>
                  </a>
                  <div class="dropdown-content" data-behavior="dropdown-content">
                    <%= link "Update Account", to: Routes.account_path(@conn, :edit) %>
                    <%= link "Logout", to: Routes.logout_path(@conn, :delete), method: :delete %>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </nav>
        <h1></h1>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <div class="modal" data-behavior="modal">
      <div class="modal-body">
        <div class="close" data-behavior="modal-close">×</div>
        <div class="modal-content" data-behavior="modal-content"></div>
      </div>
    </div>
    <script>
      var App = window.App = {};
      App.sentimentDetails = <%= raw sentiment_details() %>;
      App.userToken = "<%= assigns[:user_token] %>";
      App.userId = "<%= assigns[:current_user] && assigns[:current_user] |> Map.get(:id) %>";
      window.App = App;
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
