<html>
  <head>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
    <p>
      Thank you,
      <br />
      Team <%= WassupApp.Utils.app_name() %>
    </p>
  </body>
</html>
