<%= link "← Back to dashboard", to: Routes.dashboard_path(@conn, :index), class: "back-link" %>
<div id="notes" class="notes-page">
  <h1>Notes</h1>

  <ul>
    <%= for note <- @notes do %>
      <li class="row">
        <div class="meta column column-20">
          <%= img_tag(Routes.static_path(@conn, "/images/#{note.sentiment}.svg"), class: "sentiment-emoji") %>
          <span class="label"><%= note.submitted_at %></span>
        </div>

        <div class="column column-75">
          <p><%= note.body %></p>
        </div>
        <div class="meta column column-10">
          <div class="dropdown">
            <a href="javascript:void(0)" class="dropdown-trigger">
              <%= img_tag(Routes.static_path(@conn, "/images/gear.svg"), class: "dropdown-trigger-icon") %>
            </a>
            <div class="dropdown-content">
              <%= link "Edit", to: Routes.note_path(@conn, :edit, note) %>
              <%= link "Remove", to: Routes.note_path(@conn, :delete, note), method: :delete, data: [confirm: "Are you sure that you want the selected note?"] %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
