.auth-page {
  max-width: 400px;
  margin: 0 auto;

  h1 {
    font-size: 25px;
    text-align: center;
    margin: 40px auto;
  }

  form {
    margin-bottom: 10px;
    border: 1px solid $block-border-color;
    padding: 50px;
    background: $block-background-color;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 0px $block-box-shadow-color;
  }

  .control-label {
    font-size: 14px;
    font-weight: normal;
    color: $form-label-color;
    text-shadow: 1px 2px 1px $dark-shadow-color;
  }

  input, select {
    width: 100%;
  }

  .actions {
    margin-top: 20px;
    text-align: center;
  }

  .divider {
    display: block;
    font-size: 14px;
    color: $secondary-text-color;
    text-shadow: 2px 2px 1px $dark-shadow-color;
    margin-bottom: 1rem;
  }

  .help-text {
    font-size: 14px;
    text-align: center;

    a {
      font-weight: bold;
    }
  }

  .google-auth-button {
    position: relative;
    padding-left: 32px;

    img {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 7px;
      left: 12px;
    }
  }
}
