.criteria {
  display: flex;
  font-size: 14px;
  color: #777;
  text-shadow: 2px 2px 0px #111;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgba(25, 25, 25, 0.4);
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3) inset;
  border-radius: 10px;
}

.criteria ul, .criteria input, .criteria select {
  margin-bottom: 0;
}

.criteria form {
  display: flex;
  justify-content:space-around;
  margin-bottom: 0;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.criteria .search {
  position: relative;
}

.criteria .search img.search-icon {
  left: 0px;
  position: absolute;
  top: 6px;
  padding-right: 20px;
  opacity: 1;
  width: 44px;
  height: 32px;
}

.criteria .period img.calendar-icon {
  left: 3px;
  position: absolute;
  top: 8px;
  padding-right: 20px;
  opacity: 1;
  width: 44px;
  height: 24px;
}

.criteria img.clear-icon {
  right: 3px;
  position: absolute;
  top: 8px;
  padding-left: 5px;
  opacity: 1;
  width: 24px;
  height: 24px;
}

.criteria .total-count, .criteria .per-page-results, .criteria .search {
  display: inline-block;
}

.criteria .value {
  font-weight: bold;
}

.criteria .value {
  color: #ccc;
}

.criteria .search .value, .criteria .period .value {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  padding: 0 22px 0 30px;
}

.criteria .search .value:focus, .criteria .period .value:focus {
  border-color: #0069d9;
  outline: 0;
}

.criteria .search .value, .criteria .period .value {
  min-width: 280px;
}

.criteria .per-page-results .value {
  padding: 0 25px 0 5px;
  border: 0;
  box-shadow: 0 0 0 0;
}

.criteria .dropdown-content {
  width: 600px;
  right: -40%;
}

@media (max-width: 42.5rem) {
  .criteria .search .value, .criteria .period .value {
    min-width: 100px;
  }

  .criteria .per-page-results {
    line-height: 0px;
    margin-left: 10px;
    font-size: 12px;
  }

  .criteria .dropdown-content {
    width: 490px;
    right: -140px;
  }
}
