
.dashboard {
  .widget {
    box-shadow: 2px 2px 3px 0px $block-box-shadow-color;
    border-radius: 10px;
    background-color: $block-background-color;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  .widget-meta-link {
    font-size: 12px;
    display: block;
    float: right;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: normal;
  }

  form, .notes {
    margin-bottom: 0;
  }

  /* Recent Notes Widget */
  .notes {
    @include note-list-item-mixin;

    li {
      p {
        white-space: normal;
      }
    }
  }

  /* Mood Widget */
  .sentiment-line-chart, .sentiment-pie-chart {
    height: 200px;
    min-height: 200px;
  }
}

.sentiment-pie-chart {
  margin-top: 5px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
