
.dashboard .widget {
  box-shadow: 2px 2px 3px 0px #000;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.widget-meta-link {
  font-size: 12px;
  display: block;
  float: right;
  line-height: 30px;
  font-weight: normal;
  text-shadow: 0 1px 0 #000;
  letter-spacing: normal;
}

.dashboard form, .dashboard #notes {
  margin-bottom: 0;
}

.dashboard #sentiment-line-chart {
  height: 200px;
  min-height: 200px;
}

@media (max-width: 42.5rem) {
  .dashboard .widget:last-child {
    margin-bottom: 25px;
  }
}
