
.dashboard {
  .widget {
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .widget-meta-link {
    font-size: 12px;
    display: block;
    float: right;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: normal;
  }

  form, .notes {
    margin-bottom: 0;
  }

  /* Recent Notes Widget */
  .notes {
    li {
      list-style-type: none;
      border-bottom: 1px solid #000;
      padding: 6px 10px;
      margin: 1px 0 0 0;
      width: 100%;

      &:hover {
        background: rgba(0, 0, 0, 0.3) !important;
        transition: background 0.5s ease;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        border-bottom: 0px solid #000;
        margin-bottom: 0;
      }

      &:nth-child(even) {
        background: rgba(255, 255, 255, 0.02);
      }

      .meta {
        display: flex !important;
        align-items: center;
        justify-items: center;
      }

      .label {
        border-radius: 5px;
        padding: 2px 5px;
        text-shadow: 0 1px 0 #333;
        background-color: #333;
        font-size: 10px;
        color: #c3c3c3;
        display: inline-block;
        vertical-align: top;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #eee;
        white-space: pre-wrap;
        max-width: 100%;
      }
    }
  }

  /* Mood Widget */
  .sentiment-line-chart {
    height: 200px;
    min-height: 200px;
  }
}


/* Small screen devices */
@media (max-width: 42.5rem) {
  .dashboard {
    .widget {
      &:last-child {
        margin-bottom: 25px;
      }
    }
  }
}
