.timeline-graph-page {
  .criteria {
    .dropdown-content {
      width: 280px;
      right: 0;
    }
  }

  .period {
    .dropdown-content {
      a {
        &.active {
          font-weight: bold;
          background: #333;
          color: #999;
        }
      }
    }
  }
}

.detailed-timeline-chart {
  margin-top: 50px;
  height: 400px;
  min-height: 400px;
}
