@mixin note-meta-items-mixin {
  .icon {
    width: 32px;
    height: 32px;
    filter: drop-shadow(2px 2px 1px $note-list-item-meta-icon-box-shadow-color);
  }

  .star-icon {
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(10deg)
        saturate(400%) contrast(1);
      transform: scale(1.2);
    }
  }

  a.icon-wrapper {
    line-height: 0;
  }

  .label {
    border-radius: 5px;
    padding: 2px 5px;
    text-shadow: 0 1px 0 $date-label-background-color;
    background-color: $date-label-text-shadow-color;
    font-size: 10px;
    color: $date-label-text-color;
    display: inline-block;
    vertical-align: top;
  }
}

@mixin note-meta-items-mixin-light-mode {
  .icon {
    filter: drop-shadow(
      2px 2px 1px $note-list-item-meta-icon-box-shadow-invert-color
    );
  }

  .label {
    text-shadow: 0 0 1px $date-label-text-shadow-invert-color;
    background-color: $date-label-background-invert-color;
    color: $date-label-text-invert-color;
    box-shadow: 1px 1px 1px 0px $block-box-shadow-invert-color;
  }
}

@mixin note-list-item-mixin {
  li {
    list-style-type: none;
    border-bottom: 1px solid $note-list-item-border-color;
    padding: 6px 10px;
    margin: 1px 0 0 0;
    width: 100%;

    &:hover {
      background: $note-list-item-hovered-background-color !important;
      transition: background 0.5s ease;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: 0px solid transparent;
      margin-bottom: 0;
    }

    &:nth-child(even) {
      background: $note-list-item-even-child-background-color;
    }

    .meta {
      display: flex !important;
      align-items: center;
      justify-items: center;

      @include note-meta-items-mixin;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: darken($text-color, 10%);
      white-space: pre-wrap;
      max-width: 100%;
    }

    /* Small screen devices */
    @media (max-width: 42.5rem) {
      .dropdown-content {
        left: 0;
      }
    }
  }
}

@mixin note-list-item-mixin-light-mode {
  li {
    border-bottom: 1px solid $note-list-item-border-invert-color;
    background: $base-background-invert-color;

    &:hover {
      background: $note-list-item-hovered-background-invert-color !important;
    }

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(even) {
      background: $note-list-item-even-child-background-invert-color;
    }

    .meta {
      @include note-meta-items-mixin-light-mode;
    }

    p {
      color: darken($text-invert-color, 10%);
    }
  }
}
