#notes li {
  list-style-type: none;
  border-bottom: 1px solid #000;
  padding: 6px 10px;
  margin: 1px 0 0 0;
  width: 100%;
}

#notes li:hover {
  background: rgba(0, 0, 0, 0.3) !important;
  transition: background 0.5s ease;
}

#notes li:first-child {
  margin-top: 0;
}

#notes li:last-child {
  border-bottom: 0px solid #000;
  margin-bottom: 0;
}

#notes li:nth-child(even) {
  background: rgba(255, 255, 255, 0.02);
}

#notes li .meta {
  display: flex !important;
  align-items: center;
  justify-items: center;
}

#notes li p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #eee;
  white-space: pre-wrap;
  max-width: 100%;
}

#notes li .label {
  border-radius: 5px;
  padding: 2px 5px;
  text-shadow: 0 1px 0 #333;
  background-color: #333;
  font-size: 10px;
  color: #c3c3c3;
  display: inline-block;
  vertical-align: top;
}

.notes-page ul {
  list-style: circle inside;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

.notes-page li {
  border-bottom: 1px solid #111;
}

.notes-page li .sentiment-emoji {
  width: 32px;
  height: 32px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.notes-page nav {
  display: flex;
  justify-content: space-around;
}

.notes-page ul.pagination {
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

.notes-page ul.pagination li {
  border-bottom: 0px solid #000 !important;
}

.notes-page .period .from, .notes-page .period .to {
  display: inline-block;
}

.notes-page .period .dropdown-content {
  margin-top: 10px;
  background: rgba(0, 0, 0, 1);
}

.notes-page .period .dropdown-content a {
  font-size: 12px;
  padding: 2px 10px;
}

.notes-page .period .dropdown-content a.active {
  font-weight: bold;
  background: #333;
  color: #999;
}

.period .rd-container {
  border: 0;
  background: transparent;
}

.period .rd-month-label {
  line-height: 38px;
  color: rgb(180, 180, 180);
}

.period td, .period th {
  border: 0;
  padding: 5px;
  color: rgb(180, 180, 180);
}

.period .rd-day-prev-month, .period .rd-day-next-month {
  color: #504e4e;
  text-shadow: none;
}

.period td.rd-day-disabled {
  color:#101010;
  cursor: not-allowed;
  text-shadow: none;
}

.period .actions {
  text-align: right;
}

.period button.cancel, .period button.apply {
  margin-right: 10px;
}

.note-preview .meta {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.note-preview .meta .submitted {
  padding: 2px 5px;
  font-size: 10px;
  background-color: #222;
  border-radius: 5px;
}

.note-preview .meta .emoji-icon {
  width: 32px;
  height: 32px;
}

.note-preview p {
  margin: 0;
  white-space: pre-wrap;
  max-width: 300px;
  max-height: 250px;
  overflow-y: auto;
}

.modal-content .note-preview p {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 42.5rem) {
  .period .actions {
    text-align: left;
  }
}
