.note-form .sentiment label {
  display: inline-block;
  margin: 0;
}

.note-form .actions {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.note-form .actions button[type=submit] {
  margin-bottom: 0;
}

.note-form .control-label.radio {
  display: inline-block;
}

/* Sentiment emoji radio buttons */
.note-form [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.note-form [type=radio] + img {
  cursor: pointer;
  width: 48px;
  height: 48px;
  opacity: 0.3;
}

.note-form [type=radio]:checked + img {
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  width: 64px;
  height: 64px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Small devices */
@media (max-width: 42.5rem) {
  .note-form .row .column[class*=" column-"] {
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }
}
