.note-preview {
  .meta {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $note-preview-meta-border-color;
    padding-bottom: 5px;
    margin-bottom: 5px;

    @include note-meta-items-mixin;
  }

  p {
    margin: 0;
    white-space: pre-wrap;
    max-width: 300px;
    max-height: 250px;
    overflow-y: auto;
  }
}

.modal-content {
  .note-preview {
    p {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
