.notes-page {
  ul {
    box-shadow: 2px 2px 3px 0px $block-box-shadow-color;
    border-radius: 10px;
    background-color: $block-background-color;
  }

  @include note-list-item-mixin;

  nav {
    display: flex;
    justify-content: space-around;
  }

  .pagination {
    box-shadow: 2px 2px 3px 0px $block-box-shadow-color;

    li {
      border-bottom: 0px solid transparent !important;
    }
  }

  .period {
    .from, .to {
      display: inline-block;
    }

    .dropdown-content {
      margin-top: 10px;
      background: $date-range-picker-dropdown-content-background-color;

      a {
        font-size: 12px;
        padding: 2px 10px;

        &.active {
          font-weight: bold;
          color: $dropdown-active-link-color;
          background: $dropdown-active-link-background-color;
        }
      }
    }

    .rd-container {
      border: 0;
      background: transparent;
    }

    .rd-month-label {
      line-height: 38px;
      color: $date-range-picker-month-label-color;
    }

    td, th {
      border: 0;
      padding: 5px;
      color: $date-range-picker-day-number-color;
    }

    .rd-day-prev-month, .rd-day-next-month {
      color: $date-range-picker-month-arrow-color;
      text-shadow: none;
    }

    td {
      &.rd-day-disabled {
        color:$date-range-picker-day-number-disabled-color;
        cursor: not-allowed;
        text-shadow: none;
      }

      &.rd-day-selected {
          background: $date-range-picker-day-number-active-color;
      }
    }

    .actions {
      text-align: right;
    }

    button {
      &.cancel, &.apply {
        margin-right: 10px;
      }
    }
  }
}

/* Small screen devices */
@media (max-width: 42.5rem) {
  .notes-page {
    .period {
      .actions {
        text-align: left;
      }
    }
  }
}
