.pagination {
  border-radius: 0;

  li {
    &.page-item {
      display: inline-block !important;
      margin: 0 2px 0 0 !important;
      width: auto !important;
      &.active {
        background: $pagination-active-background-color;
      }
    }
  }

  .page-link {
    outline: none;
  }

  .disabled, .active {
    .page-link {
      color: $pagination-active-and-disabled-page-link-color;
      cursor: text;
    }
  }
}
