ul.pagination {
  border-radius: 0;
}

.pagination li.page-item {
  display: inline-block !important;
  margin: 0 2px 0 0 !important;
  width: auto !important;
}

.pagination li.page-item.active {
  background: rgba(0, 0, 0, 0.5);
}

.pagination .page-link {
  outline: none;
}

.pagination .disabled .page-link, .pagination .active .page-link {
  color: #555;
  cursor: text;
}
