<p>Hi <%= @user.name %>,</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p><a href="<%= @change_password_link %>" target="_blank"><%= @change_password_link %></a></p>
<p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
