Hi <%= @user.name %>,

Someone has requested a link to change your password. You can do this through the link below.

<%= @change_password_link %>

If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
